.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  .messengers {
    width: 100px;
    justify-content: space-between;
  }
}
.rootColumn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  .messengers {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: flex-end;
    justify-content: space-between;
    width: 80px;
  }
}
.messengers {
  display: flex;
  align-items: center;
}
