.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 90px;
  .leftBlockWrapper {
    .leftBlockMainContent {
      width: 362px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
      letter-spacing: 0em;
      .textGradientLeftBlock {
        display: table;
        background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .descriptionLeftBlock {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      width: 275px;
      margin-top: 30px;
    }
  }
  .rightBlock {
    display: flex;
    flex-direction: column;
    width: 291px;
    .header {
      font-size: 18px;
      line-height: 21.78px;
      font-weight: 500;
      text-align: end;
      margin-bottom: 30px;
      .textGradientRightBlock {
        background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
      }
    }
    .rightBlockContent {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 18px;
      line-height: 21.78px;
      font-weight: 500;
      .rightBlockItem {
        width: 120px;
        text-align: end;
        margin-top: 30px;
        .itemDescription {
          display: flex;
          flex-wrap: wrap;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          margin-top: 5px;
        }
      }
    }
    .buttonWrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 55px;
      .button {
        background-color: #4077f3;
        color: #e4e5ea;
        font-size: 16px;
        line-height: 19.36px;
        font-weight: 500;
        width: 262px;
        height: 61px;
      }
    }
  }
}
