.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 90px;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
  @media screen and (max-width: 415px) {
    font-size: 14px;
  }
  .footerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 415px) {
      flex-direction: column;
      flex-wrap: wrap;
    }
    .menuBlock {
      width: 100%;
      @media screen and (max-width: 415px) {
        margin-bottom: 25px;
      }
      .headerMenu {
        color: #656566;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      .headerMenuLast {
        text-align: end;
        @media screen and (max-width: 415px) {
          text-align: start;
        }
      }
      .menuItems {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        //height: 145px;
        @media screen and (max-width: 415px) {
          height: auto;
        }
        .menuItem {
          margin-bottom: 5px;
          margin-right: 55px;
          @media screen and (max-width: 415px) {
            max-width: 110px;
            margin-bottom: 10px;
            margin-right: 35px;
          }
        }
      }
    }
    .menuLastBlock {
      text-align: end;
      @media screen and (max-width: 415px) {
        text-align: start;
      }
    }
    .menuBlockSecond {
      margin-right: 250px;
      @media screen and (max-width: 415px) {
        margin-right: 0;
      }
      .menuItems {
        height: 145px;
        @media screen and (max-width: 415px) {
          height: 190px;
        }
      }
    }
  }
  .copyright {
    margin-top: 25px;
    text-align: end;
    width: 239px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 400;
    @media screen and (max-width: 415px) {
      width: 100%;
      text-align: start;
      margin-top: 35px;
    }
  }
}
